<div class="row" id="mainrow">
    <img src="~/Images/pesmaxresdefault1.png" />
    <table>
        <tr>
            <td style="border-bottom: 3px solid rgb(41, 41, 41); width: 7%">&nbsp;</td>
            <td style="vertical-align:middle;text-align:center" rowspan="2">
                <h5 style="color: white;"> تورنومنت <span style="color: #B9215E;">ویژه</span></h5>
            </td>
            <td style="border-bottom: 3px solid rgb(41, 41, 41); width: 77%">&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <div class="row" id="tornomentrow">
        <div class="col-lg-3">
            <div class="row">
                <h3>Bij Bij cup</h3>
                <h3>pes2021</h3>
            </div>
        </div>
        <div class="col-lg-9 row">
            <div class="col-lg-4">
                <p>زمان : <span>-- -- --</span></p>
                <p>بازی : <span>pes2021</span></p>
                <p>کنسول : <span>pes 4</span></p>
                <p>جایزه : <span>50/000/000</span></p>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center;"><b>ظرفیت باقی مانده</b></p>
                <br>
                <h4><span>@ViewBag.Cap</span></h4>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center;"><b>مهلت ثبت نام</b></p>
                <br>
                <h4><span>@ViewBag.Time</span></h4>
                <p style="text-align: center;font-size: 10px;">
                    <span>ساعت</span>&nbsp &nbsp&nbsp<span>روز</span>
                </p>
            </div>
        </div>
    </div>
    <a id="register" href=@Url.Action("Register")><button>ثبت نام کنید</button></a>
</div>

