<div class="row" id="mainrow">
    <div class="row" id="tornomentrow" style="padding: 3%;padding-bottom: 10%;">
        <h4 class="alert-heading" style="text-align:center;color:white;">ورود گیم نت ها</h4>
        <form action=@Url.Action("Index") method="post">
            <div class="row" id="inputgrouprow">
                <div class="mb-3 row">
                    <label for="phone" class="col-sm-5 col-form-label">شماره همراه :</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" type="submit">ورود</button>
                </div>
            </div>
        </form>
    </div>
    <img src="~/Images/pesmaxresdefault1.png" />
</div>