<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--bootstrap rtl css-->
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
    <!--bootstrap popper js-->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <title>تورنومنت ویژه</title>
    <link href="~/Content/Layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="row" id="headerRow">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 col-5">
                <a href=@Url.Action("Index","Home")>
                    <p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z" />
                        </svg>
                        &nbsp&nbspتورنومنت ها
                    </p>
                </a>
            </div>
            <div class="col-lg-4 col-4">
                <div class="col-lg-6">
                </div>
                <div class="col-lg-6 col-12">
                    <a href=@Url.Action("Help","Home")><button>راهنما</button></a>
                </div>
            </div>
            <div class="col-lg-2 col-3">
                <img src="~/Images/logo.png" alt="Logo BijBij" style="width:64px;" />
            </div>
            <div class="col-lg-2"></div>
        </div>
    </header>
    <div class="container">
        @RenderBody()
        <!--endof mainrow-->
    </div>
    <!--end of container-->
</body>

</html>
